.ol-zoom {
    top: 52px;
  }
  .ol-toggle-options {
    z-index: 1000;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    left: 8px;
    top: 8px;
  }
  #updateFilterButton, #resetFilterButton {
    height: 22px;
    width: 22px;
    text-align: center;
    text-decoration: none !important;
    line-height: 22px;
    margin: 1px;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-weight: bold !important;
    background: rgba(0,60,136,0.5);
    color: white !important;
    padding: 2px;
  }
  .ol-toggle-options a {
    background: rgba(0,60,136,0.5);
    color: white;
    display: block;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-size: 19px;
    font-weight: bold;
    height: 22px;
    line-height: 11px;
    margin: 1px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 22px;
    border-radius: 2px;
  }
  .ol-toggle-options a:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(0,60,136,0.7);
  }
  body {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: small;
  }
  iframe {
      width: 100%;
      height: 250px;
      border: none;
  }
  /* Toolbar styles */
  #toolbar {
      position: relative;
      padding-bottom: 0.5em;
  }
  #toolbar ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  #toolbar ul li {
      float: left;
      padding-right: 1em;
      padding-bottom: 0.5em;
  }
  #toolbar ul li a {
      font-weight: bold;
      font-size: smaller;
      vertical-align: middle;
      color: black;
      text-decoration: none;
  }
  #toolbar ul li a:hover {
      text-decoration: underline;
  }
  #toolbar ul li * {
      vertical-align: middle;
  }
  #map {
      clear: both;
      position: relative;
      width: 100%;
      height: 90vh;
      border: 1px solid black;
  }
  #wrapper {
      width: 641px;
  }
  #location {
      float: right;
  }
  /* Styles used by the default GetFeatureInfo output, added to make IE happy */
  table.featureInfo, table.featureInfo td, table.featureInfo th {
      border: 1px solid #ddd;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      font-size: 90%;
      padding: .2em .1em;
  }
  table.featureInfo th {
      padding: .2em .2em;
      font-weight: bold;
      background: #eee;
  }
  table.featureInfo td {
      background: #fff;
  }
  table.featureInfo tr.odd td {
      background: #eee;
  }
  table.featureInfo caption {
      text-align: left;
      font-size: 100%;
      font-weight: bold;
      padding: .2em .2em;
  }
  li.nav-item ul.submenu{
      background:white;
      display:block;
      box-shadow:rgba(0,0,0,0.3) 0px 3px 15px;
      list-style:none;
      border-radius:5px;
      padding:5px 10px;
      margin-left:15px;
      display:none;
      position:absolute;
  }
  li.nav-item ul.submenu li a{
      color:black !important;
      display:inline-block;
      padding:5px;
  }
  .pb_navbar:before{
    background: #665fee;
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#665fee', endColorstr='#27c2de',GradientType=1 );
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0.9;
  }
  .pb_navbar.scrolled.pb_scrolled-light:before{
    display:none;
  }
  .map_container{
      position:absolute;
      width:100%;
  }
  section.pb_cover_v3 .container{
      background:rgba(0,0,0,0.75);
      margin:0;
      max-width:100%;
      padding:0 5%;
  }
  ul.navbar-nav a{
      cursor: pointer;
  }
  /*
  section.pb_cover_v3 .container{
      display:none;
  }
  */
  section.pb_cover_v3 .container.login{
      display:block;
  }
  .form-group.ver_mapa{
      text-align:center;
  }
  .form-group.ver_mapa a{
      cursor:pointer;
      color:#1d82ff !important;
  }
  .map_container #wrapper{
      position:absolute;
      top:75px;
      left:20px;
      color:white;
      width:100%;
  }
  .map_container #wrapper > div{
      width:30%;
      float:left;
      padding:9px;
      background:rgba(0,0,0,0.7);
      border:solid white 1px;
      text-align:center;
      margin:0 10px;
  }
  .map_container #wrapper #location:before{
      content:"Location = ";
      float:left;
  }
  .map_container > #wrapper > .backbutton{
      padding:0;
      background:transparent !important;
      text-align:right;
      border:none;
      margin:0;
  }
  .map_container > #wrapper > .backbutton a{
      width:122px;
      font-size:16px;
      padding:5px;
      cursor:pointer;
  }
  .container .box_container{
      padding:25px;
      box-shadow:1px 11px 68px -20px rgba(0, 0, 0, 0.75);
      border-radius:0.25rem !important;
      background-color:#fff !important;
  }
  .box_container table a.modificar{
      color:#1d82ff !important;
  }
  .box_container table a.eliminar{
      color:red !important;
  }
  #section-features:after{
      display:none;
  }
  section .container form{
      z-index:11;
      position:relative;
  }
  section .container form .validation_errors p{
      margin:0;
  }
  section .container form .validation_errors{
      margin-bottom:10px;
      color:red;
  }
  section > container:after{
      display:none;
  }
  #locationCopied p{
      display:inline-block;
      padding:10px 30px;
      color:white;
      background:rgba(0,0,0,0.7);
      margin:5px 0;
  }
  #locationCopied{
      text-align:center;
  }
  #locationCopied .backbutton{
      width:100%;
  }
  #locationCopied .backbutton a{
      padding:0;
      color:white;
      font-size:14px;
      width:100px;
      display:inline-block;
      cursor:pointer;
  }
  .form-group.localizacion{
      display:none;
  }
.sub-heading ol a{
    /*color:#1d82ff !important;*/
    color:#85bcff !important;   
}
.pb_form_v1{
    padding:5px 20px !important;
}